<% provide(:title, t(".title")) %>
<h1 class="page-header"><%= t(".title") %></h1>

<%= paginate(@access_tickets) %>

<div class="table-responsive col-sm-12">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th class="col-sm-6"><%= AccessTicket.human_attribute_name(:authentication_token) %></th>
        <th class="col-sm-3"><%= AccessTicket.human_attribute_name(:expired_at) %></th>
        <th class="col-sm-2"><%= AccessTicket.human_attribute_name(:available_times) %></th>
        <th class="col-sm-1">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @access_tickets.each do |access_ticket| %>
        <tr>
          <td><%= link_to access_ticket.authentication_token, new_access_ticket_session_path(id: access_ticket, authentication_token: access_ticket.authentication_token) %></td>
          <td><%= access_ticket.expired_at %></td>
          <td><%= access_ticket.available_times %></td>
          <td><%= link_to t("helpers.submit.delete"), access_ticket, method: :delete, class: "btn btn-default", data: { confirm: t(".confirm.delete") } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <div class="pull-right">
      <%= link_to t(".submit.generate"), new_access_ticket_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
